@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,500;1,400&display=swap");
:root {
  --first-color: #F2A20C;
  --white-color: #E9EAEC;
  --dark-color: #272D40;
  --blue-color:#2a2dce;
  --dark-color-lighten: #F2F5FF;
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark-color-lighten);
}

.card {
  width: 320px;
  height: 400px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
  margin: 10px;
}
.card_img {
  position: absolute;
  width: 260px;
  -webkit-filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
          filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}
.card_data {
  -webkit-transform: translateY(13.2rem);
          transform: translateY(13.2rem);
  text-align: center;
}
.card_title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}
.card_preci {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.card_description {
  font-size: var(--small-font-size);
  text-align: initial;
  margin-bottom: 1.5rem;
  opacity: 0;
}
.card_button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75rem 2rem;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.card_button:hover {
  -webkit-box-shadow: 0 18px 40px -12px rgba(242, 162, 12, 0.35);
          box-shadow: 0 18px 40px -12px rgba(242, 162, 12, 0.35);
}
.card_img, .card_data, .card_title, .card_preci, .card_description {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card_img {
  -webkit-transform: translate(-1.5rem, -9.5rem) rotate(-30deg);
          transform: translate(-1.5rem, -9.5rem) rotate(-30deg);
}
.card:hover .card_data {
  -webkit-transform: translateY(4.8rem);
          transform: translateY(4.8rem);
}
.card:hover .card_title {
  -webkit-transform: translateX(-2.3rem);
          transform: translateX(-2.3rem);
  margin-bottom: 0;
}
.card:hover .card_preci {
  -webkit-transform: translateX(-6.8rem);
          transform: translateX(-6.8rem);
}
.card:hover .card_description,
.card:hover .card_button {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 1;
}/*# sourceMappingURL=Main.css.map */